<hr>
<footer class="footer">
    <div class="container">
        <p><a href="/api/friends">API Friends List</a> | <a href="https://github.com/soleman16/FriendFinder">GitHub Repo</a></p>
    </div>
</footer>