<div class="container">

    <div class="jumbotron">
        <img src="90210.jpg" width="640" height="480" class="mx-auto rounded d-block" />
        <h1><i class="fa fa-facebook-square" aria-hidden="true"></i> 90210 Friend Finder</h1>
        <hr>
        <h2>Answer a few basic questions. </h2>
        <h2>Then find the friend with the greatest compatibility!</h2>
        <br>

        <div>
            <a href="/survey"><button type="button" class="btn btn-lg btn-primary">
                    <h4><span class="glyphicon glyphicon-list-alt"></span> Go to Survey</h4>
                </button></a>
        </div>

    </div>

    {{>footer}}

</div>